## Scraping

In [1]:
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.common.exceptions import NoSuchElementException
from selenium.webdriver.support import expected_conditions as EC
import pandas as pd

In [24]:
text = []
aircraft = []
traveller_type = []
seat_type = []
flown_date = []
seat_comortable = []
cabin_staff_service = []
food = []
ground_service = []
value_for_money = []
recommended = []

In [2]:
page_size = 100 
page_numbers = 102

In [59]:
try:
    web = webdriver.Chrome()

    for i in range(48, page_numbers+1):
        print(f'Scraping Page -> {i}')
        web.get(f'https://www.airlinequality.com/airline-reviews/british-airways/page/{i}/?sortby=post_date%3ADesc&pagesize={page_size}')
        web.minimize_window()
        # Wait for the page to load
        # time.sleep(5)  # or use WebDriverWait for better control
    
        # find all texts
        text_elements = web.find_elements(By.CLASS_NAME, 'text_content')
        for text_ in text_elements:
            text.append(text_.text.split('|')[-1].strip())
        
        # Find all divs with the class 'review-stats'
        table_div = web.find_elements(By.CLASS_NAME, 'review-stats')
        
        for div in table_div:
            tr_elements = div.find_elements(By.TAG_NAME, 'tr')
            aircraft_found = False  # Flag to check if "Aircraft" row was found
            traveller_type_found = False 
            seat_type_found = False
            flown_date_found = False
            seat_comortable_found = False 
            cabin_staff_service_found = False
            food_found = False 
            ground_service_found = False 
            value_for_money_found = False 
            recommended_found = False
            
            for tr in tr_elements:
                # aircraft elements 
                aircraft_td = tr.find_element(By.CLASS_NAME, 'review-rating-header')
                # Check if this is the "Aircraft" header
                if 'aircraft' in aircraft_td.get_attribute('class') and aircraft_td.text.strip() == 'Aircraft':
                    aircraft_element = tr.find_element(By.CLASS_NAME, 'review-value')
                    # print(f"Aircraft: {aircraft_element.text}")
                    aircraft.append(aircraft_element.text)
                    aircraft_found = True  # Set the flag to True if "Aircraft" is found
                
                # traveller type elements
                traveller_td = tr.find_element(By.CLASS_NAME, 'review-rating-header')
                # Print out the class name and text for debugging
                class_attr = traveller_td.get_attribute('class')
                text_attr = traveller_td.text.strip()
                # print(f"Class: {class_attr}, Text: {text_attr}")
                
                if 'type_of_traveller' in class_attr and text_attr == 'Type Of Traveller':
                    traveller_element = tr.find_element(By.CLASS_NAME, 'review-value')
                    # print(f"Traveller Type: {traveller_element.text}")
                    traveller_type.append(traveller_element.text)
                    traveller_type_found = True
               
    
                # seat type elements
                seat_td = tr.find_element(By.CLASS_NAME, 'review-rating-header')
                # Print out the class name and text for debugging
                class_attr = seat_td.get_attribute('class')
                text_attr = seat_td.text.strip()
                # print(f"Class: {class_attr}, Text: {text_attr}")
                
                if 'cabin_flown ' in class_attr and text_attr == 'Seat Type':
                    seat_element = tr.find_element(By.CLASS_NAME, 'review-value')
                    # print(f"seat_element Type: {seat_element.text}")
                    seat_type.append(seat_element.text)
                    seat_type_found = True
                    
                # flown date elements
                date_td = tr.find_element(By.CLASS_NAME, 'review-rating-header')
                # Print out the class name and text for debugging
                class_attr = date_td.get_attribute('class')
                text_attr = date_td.text.strip()
                # print(f"Class: {class_attr}, Text: {text_attr}")
                if 'date_flown' in class_attr and text_attr == 'Date Flown':
                    date_element = tr.find_element(By.CLASS_NAME, 'review-value')
                    # print(f"date_element Type: {date_element.text}")
                    flown_date.append(date_element.text)
                    flown_date_found = True
                    
                # seat comortable elements
                seat_comftr_td = tr.find_element(By.CLASS_NAME, 'review-rating-header')
                # Print out the class name and text for debugging
                class_attr = seat_comftr_td.get_attribute('class')
                text_attr = seat_comftr_td.text.strip()
                # print(f"Class: {class_attr}, Text: {text_attr}")
                
                if 'seat_comfort' in class_attr and text_attr == 'Seat Comfort':
                    seat_comftr_element = tr.find_element(By.CLASS_NAME, 'review-rating-stars')
                    stars = len(seat_comftr_element.find_elements(By.CLASS_NAME, 'star.fill'))
                    # print(f"seat_comftr_element: {seat_comftr_element}")
                    # print(f"# seat_comft stars : {stars}")
    
                    seat_comortable.append(stars)
                    seat_comortable_found = True
                
                # Cabin Staff Service elements
                cabin_serv_td = tr.find_element(By.CLASS_NAME, 'review-rating-header')
                # Print out the class name and text for debugging
                class_attr = cabin_serv_td.get_attribute('class')
                text_attr = cabin_serv_td.text.strip()
                # print(f"Class: {class_attr}, Text: {text_attr}")
                
                if 'cabin_staff_service' in class_attr and text_attr == 'Cabin Staff Service':
                    cabin_serv_element = tr.find_element(By.CLASS_NAME, 'review-rating-stars')
                    stars = len(cabin_serv_element.find_elements(By.CLASS_NAME, 'star.fill'))
                    # print(f"seat_comftr_element: {seat_comftr_element}")
                    # print(f"# cabin stars : {stars}")
    
                    cabin_staff_service.append(stars)
                    cabin_staff_service_found = True
               
                # Food & Beverages elements
                food_td = tr.find_element(By.CLASS_NAME, 'review-rating-header')
                # Print out the class name and text for debugging
                class_attr = food_td.get_attribute('class')
                text_attr = food_td.text.strip()
                # print(f"Class: {class_attr}, Text: {text_attr}")
                
                if 'food_and_beverages' in class_attr and text_attr == 'Food & Beverages':
                    food_element = tr.find_element(By.CLASS_NAME, 'review-rating-stars')
                    stars = len(food_element.find_elements(By.CLASS_NAME, 'star.fill'))
                    # print(f"seat_comftr_element: {seat_comftr_element}")
                    # print(f"# food stars: {stars}")
    
                    food.append(stars)
                    food_found = True
                    
                # Ground Service elements
                ground_serv_td = tr.find_element(By.CLASS_NAME, 'review-rating-header')
                # Print out the class name and text for debugging
                class_attr = ground_serv_td.get_attribute('class')
                text_attr = ground_serv_td.text.strip()
                # print(f"Class: {class_attr}, Text: {text_attr}")
                
                if 'ground_service' in class_attr and text_attr == 'Ground Service':
                    ground_serv_element = tr.find_element(By.CLASS_NAME, 'review-rating-stars')
                    stars = len(ground_serv_element.find_elements(By.CLASS_NAME, 'star.fill'))
                    # print(f"seat_comftr_element: {seat_comftr_element}")
                    # print(f"# ground stars : {stars}")
    
                    ground_service.append(stars)
                    ground_service_found = True
                
                # Value For Money elements
                money_value_td = tr.find_element(By.CLASS_NAME, 'review-rating-header')
                # Print out the class name and text for debugging
                class_attr = money_value_td.get_attribute('class')
                text_attr = money_value_td.text.strip()
                # print(f"Class: {class_attr}, Text: {text_attr}")
                
                if 'value_for_money' in class_attr and text_attr == 'Value For Money':
                    money_value_element = tr.find_element(By.CLASS_NAME, 'review-rating-stars')
                    stars = len(money_value_element.find_elements(By.CLASS_NAME, 'star.fill'))
                    # print(f"seat_comftr_element: {seat_comftr_element}")
                    # print(f"# money_value stars : {stars}")
    
                    value_for_money.append(stars)
                    value_for_money_found = True
            
                # Recommended elements
                recommended_td = tr.find_element(By.CLASS_NAME, 'review-rating-header')
                # Print out the class name and text for debugging
                class_attr = recommended_td.get_attribute('class')
                text_attr = recommended_td.text.strip()
                # print(f"Class: {class_attr}, Text: {text_attr}")
                
                if 'recommended' in class_attr and text_attr == 'Recommended':
                    recommended_element = tr.find_element(By.CLASS_NAME, 'review-value')
                    # print(f"seat_comftr_element: {seat_comftr_element}")
                    # print(f"Recommended: {recommended_element.text}")
    
                    recommended.append(recommended_element.text)
                    recommended_found = True
                
                
                
            if not aircraft_found:
                # print("None")  # Print None if no "Aircraft" row was found
                aircraft.append('None')
            if not traveller_type_found:
                # print("None")  # Print None if no "Aircraft" row was found
                traveller_type.append('None')
            
              
            if not seat_type_found:
                # print("None")  # Print None if no "Aircraft" row was found
                seat_type.append('None')
    
            if not flown_date_found:
                # print("None")  # Print None if no "Aircraft" row was found
                flown_date.append('None')
    
            if not seat_comortable_found:
                # print("None")  # Print None if no "Aircraft" row was found
                seat_comortable.append('None')
    
            if not cabin_staff_service_found:
                # print("None")  # Print None if no "Aircraft" row was found
                cabin_staff_service.append('None')
    
            if not food_found:
                # print("None")  # Print None if no "Aircraft" row was found
                food.append('None')
            
            if not ground_service_found:
                # print("None")  # Print None if no "Aircraft" row was found
                ground_service.append('None')
    
            if not value_for_money_found:
                # print("None")  # Print None if no "Aircraft" row was found
                value_for_money.append('None')
            
            if not recommended_found:
                # print("None")  # Print None if no "Aircraft" row was found
                recommended.append('None')
            
        # number of reviews was scrapped 
        print(f'    total reviews -----> {len(text)}')

    web.quit()

except Exception as e:
    print(f"Maybe something is wrong, bro. Error: {e}")

Scraping Page -> 48
    total reviews -----> 942
Scraping Page -> 49
    total reviews -----> 962
Scraping Page -> 50
    total reviews -----> 982
Scraping Page -> 51
    total reviews -----> 1002
Scraping Page -> 52
    total reviews -----> 1022
Scraping Page -> 53
    total reviews -----> 1042
Scraping Page -> 54
    total reviews -----> 1062
Scraping Page -> 55
    total reviews -----> 1082
Scraping Page -> 56
    total reviews -----> 1102
Scraping Page -> 57
    total reviews -----> 1122
Scraping Page -> 58
    total reviews -----> 1142
Scraping Page -> 59
    total reviews -----> 1162
Scraping Page -> 60
    total reviews -----> 1182
Scraping Page -> 61
    total reviews -----> 1202
Scraping Page -> 62
    total reviews -----> 1222
Scraping Page -> 63
    total reviews -----> 1242
Scraping Page -> 64
    total reviews -----> 1262
Scraping Page -> 65
    total reviews -----> 1282
Scraping Page -> 66
    total reviews -----> 1302
Scraping Page -> 67
    total reviews -----> 1322
Scraping Page -> 68
    total reviews -----> 1342
Scraping Page -> 69
    total reviews -----> 1362
Scraping Page -> 70
    total reviews -----> 1382
Scraping Page -> 71
    total reviews -----> 1402
Scraping Page -> 72
    total reviews -----> 1422
Scraping Page -> 73
    total reviews -----> 1442
Scraping Page -> 74
    total reviews -----> 1462
Scraping Page -> 75
    total reviews -----> 1482
Scraping Page -> 76
    total reviews -----> 1502
Scraping Page -> 77
    total reviews -----> 1522
Scraping Page -> 78
    total reviews -----> 1542
Scraping Page -> 79
    total reviews -----> 1562
Scraping Page -> 80
    total reviews -----> 1582
Scraping Page -> 81
    total reviews -----> 1602
Scraping Page -> 82
    total reviews -----> 1622
Scraping Page -> 83
    total reviews -----> 1642
Scraping Page -> 84
    total reviews -----> 1662
Scraping Page -> 85
    total reviews -----> 1682
Scraping Page -> 86
    total reviews -----> 1702
Scraping Page -> 87
    total reviews -----> 1722
Scraping Page -> 88
    total reviews -----> 1742
Scraping Page -> 89
    total reviews -----> 1762
Scraping Page -> 90
    total reviews -----> 1782
Scraping Page -> 91
    total reviews -----> 1802
Scraping Page -> 92
    total reviews -----> 1822
Scraping Page -> 93
    total reviews -----> 1842
Scraping Page -> 94
    total reviews -----> 1862
Scraping Page -> 95
    total reviews -----> 1882
Scraping Page -> 96
    total reviews -----> 1902
Scraping Page -> 97
    total reviews -----> 1922
Scraping Page -> 98
    total reviews -----> 1942
Scraping Page -> 99
    total reviews -----> 1962
Scraping Page -> 100
    total reviews -----> 1982
Scraping Page -> 101
    total reviews -----> 2002
Scraping Page -> 102
    total reviews -----> 2022
Scraping Page -> 103
Maybe something is wrong, bro. Error: Message: no such window: target window already closed
from unknown error: web view not found
  (Session info: chrome=126.0.6478.183)
Stacktrace:
	GetHandleVerifier [0x00007FF63C8FEEB2+31554]
	(No symbol) [0x00007FF63C877EE9]
	(No symbol) [0x00007FF63C73872A]
	(No symbol) [0x00007FF63C70D995]
	(No symbol) [0x00007FF63C7B44D7]
	(No symbol) [0x00007FF63C7CC051]
	(No symbol) [0x00007FF63C7ACDD3]
	(No symbol) [0x00007FF63C77A33B]
	(No symbol) [0x00007FF63C77AED1]
	GetHandleVerifier [0x00007FF63CC08B2D+3217341]
	GetHandleVerifier [0x00007FF63CC55AF3+3532675]
	GetHandleVerifier [0x00007FF63CC4B0F0+3489152]
	GetHandleVerifier [0x00007FF63C9AE786+750614]
	(No symbol) [0x00007FF63C88376F]
	(No symbol) [0x00007FF63C87EB24]
	(No symbol) [0x00007FF63C87ECB2]
	(No symbol) [0x00007FF63C86E17F]
	BaseThreadInitThunk [0x00007FFF5D04257D+29]
	RtlUserThreadStart [0x00007FFF5E7EAF28+40]

In [15]:
rate = []

In [ ]:
# scraping rate values as i was forgot it 
web = webdriver.Chrome()
for i in range(48, 103):
    print(f'Scraping Page -> {i}')
    web.get(f'https://www.airlinequality.com/airline-reviews/british-airways/page/{i}/?sortby=post_date%3ADesc&pagesize={20}')
    web.minimize_window()

    rate_elements = web.find_elements(By.CSS_SELECTOR, 'div[itemprop="reviewRating"] span[itemprop="ratingValue"]')
    # print(len(rate_elements))
    for r in rate_elements:
        rate.append(r.text)

    # number of reviews was scrapped 
    print(f'    total reviews -----> {len(rate)}')

web.quit()

## Save Scrapped Date in CSV file

In [ ]:
#Combine lists into a dictionary (keys will be column names)
data = {
    'text': text,
    'aircraft': aircraft,
    'traveller_type': traveller_type,
    'seat_type': seat_type,
    'flown_date': flown_date,
    'seat_comortable': seat_comortable,
    'cabin_staff_service': cabin_staff_service,
    'food': food,
    'ground_service': ground_service,
    'value_for_money': value_for_money,
    'recommended': recommended
}


# Create DataFrame
df = pd.DataFrame(data)

# Save DataFrame to CSV file
df.to_csv('british-airways-reviews.csv', index=False)

In [71]:
df = pd.read_csv('british-airways-reviews.csv')
df.head()

,text,aircraft,traveller_type,seat_type,flown_date,seat_comortable,cabin_staff_service,food,ground_service,value_for_money,recommended
0,If you can’t fly First Class don’t fly British...,Boeing 777,Couple Leisure,Economy Class,July 2024,1.0,1.0,1.0,1.0,1,no
1,Singapore to Heathrow. Business class on an A3...,A380-800,Family Leisure,Business Class,July 2024,3.0,2.0,3.0,5.0,2,yes
2,I reported my damaged/ruined suitcase 5 weeks ...,NaN,Solo Leisure,Economy Class,June 2024,3.0,4.0,4.0,2.0,3,no
3,"On March 1st, I flew from Berlin to São Paulo ...",NaN,Business,Economy Class,March 2024,3.0,4.0,3.0,1.0,2,no
4,The WORST customer experience! British Airways...,NaN,Couple Leisure,Economy Class,September 2023,1.0,1.0,NaN,1.0,1,no

In [18]:
df = pd.read_csv('british-airways-reviews.csv')

In [20]:
df.iloc[920] # first value in page 47

text                   London to Munich. The plane is A320. The seat ...
aircraft                                                            A320
traveller_type                                            Family Leisure
seat_type                                                  Economy Class
flown_date                                                   August 2019
seat_comortable                                                      4.0
cabin_staff_service                                                  4.0
food                                                                 NaN
ground_service                                                       2.0
value_for_money                                                        3
recommended                                                          yes
Name: 920, dtype: object

In [22]:
rate.insert(920, 6) # add first rate in page 47 in rate list

In [21]:
df.iloc[921]  # second value in page 47

text                   London to Glasgow. BA customer service is unqu...
aircraft                                                             NaN
traveller_type                                                  Business
seat_type                                                  Economy Class
flown_date                                                     June 2019
seat_comortable                                                      2.0
cabin_staff_service                                                  2.0
food                                                                 3.0
ground_service                                                       1.0
value_for_money                                                        1
recommended                                                           no
Name: 921, dtype: object

In [23]:
rate.insert(921, 1) # add second rate in page 47 in rate list

In [24]:
len(rate)

2022

In [25]:
# add rate list to dataframe as rate column
df['rate'] = rate

In [27]:
df.head()

,text,aircraft,traveller_type,seat_type,flown_date,seat_comortable,cabin_staff_service,food,ground_service,value_for_money,recommended,rate
0,If you can’t fly First Class don’t fly British...,Boeing 777,Couple Leisure,Economy Class,July 2024,1.0,1.0,1.0,1.0,1,no,1
1,Singapore to Heathrow. Business class on an A3...,A380-800,Family Leisure,Business Class,July 2024,3.0,2.0,3.0,5.0,2,yes,1
2,I reported my damaged/ruined suitcase 5 weeks ...,NaN,Solo Leisure,Economy Class,June 2024,3.0,4.0,4.0,2.0,3,no,1
3,"On March 1st, I flew from Berlin to São Paulo ...",NaN,Business,Economy Class,March 2024,3.0,4.0,3.0,1.0,2,no,1
4,The WORST customer experience! British Airways...,NaN,Couple Leisure,Economy Class,September 2023,1.0,1.0,NaN,1.0,1,no,1

In [28]:
# save new data frame in csv file
df.to_csv('british-airways-reviews.csv', index=False)

In [29]:
new_df = pd.read_csv('british-airways-reviews.csv')

In [30]:
df.head()

,text,aircraft,traveller_type,seat_type,flown_date,seat_comortable,cabin_staff_service,food,ground_service,value_for_money,recommended,rate
0,If you can’t fly First Class don’t fly British...,Boeing 777,Couple Leisure,Economy Class,July 2024,1.0,1.0,1.0,1.0,1,no,1
1,Singapore to Heathrow. Business class on an A3...,A380-800,Family Leisure,Business Class,July 2024,3.0,2.0,3.0,5.0,2,yes,1
2,I reported my damaged/ruined suitcase 5 weeks ...,NaN,Solo Leisure,Economy Class,June 2024,3.0,4.0,4.0,2.0,3,no,1
3,"On March 1st, I flew from Berlin to São Paulo ...",NaN,Business,Economy Class,March 2024,3.0,4.0,3.0,1.0,2,no,1
4,The WORST customer experience! British Airways...,NaN,Couple Leisure,Economy Class,September 2023,1.0,1.0,NaN,1.0,1,no,1